<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação</title>

    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/gijgo.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/fonts/">
    <link rel="stylesheet" type="text/css" href="_flaticon.scss">

</head>

<body>

    <div class="container my-5">
        <h4 class="comments-count text-center mb-4">Avaliação</h4>

        <div class="reply-form p-4 shadow-lg rounded">

            <form action="{{ url_for('avaliacao') }}" method="POST">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="peso">Peso</label>
                        <input name="peso" type="text" class="form-control" placeholder="Ex: 70.5" required>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="altura">Altura</label>
                        <input name="altura" type="text" class="form-control" placeholder="Ex: 1.75">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="braco">Braço</label>
                        <input name="braco" type="text" class="form-control" placeholder="Ex: 30.0">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="ombro">Ombro</label>
                        <input name="ombro" type="text" class="form-control" placeholder="Ex: 120.0">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="peito">Peito</label>
                        <input name="peito" type="text" class="form-control" placeholder="Ex: 95.0">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="cintura">Cintura</label>
                        <input name="cintura" type="text" class="form-control" placeholder="Ex: 75.0">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="quadril">Quadril</label>
                        <input name="quadril" type="text" class="form-control" placeholder="Ex: 100.0">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="abdominal">Abdominal</label>
                        <input name="abdominal" type="text" class="form-control" placeholder="Ex: 80.0">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="coxaMedial">Coxa Medial</label>
                        <input name="coxaMedial" type="text" class="form-control" placeholder="Ex: 55.0">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group mb-3">
                        <label for="panturrilha">Panturrilha</label>
                        <input name="panturrilha" type="text" class="form-control" placeholder="Ex: 38.0">
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-3">
                    <a href="mainaval" class="btn btn-secondary">Voltar</a>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>

            </form>

        </div>
    </div>

    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/assets/js/sb-admin-2.min.js"></script>

</body>

</html>
