    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/gijgo.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/fonts/">
    <link rel="stylesheet" type="text/css" href="_flaticon.scss">

    <title>Fichas de Treino</title>

    <h4 class="comments-count">Cadastro de Treino</h4>

              <div class="reply-form">

<!--                <h4>Leave a Reply</h4>-->
<!--                <p>Your email address will not be published. Required fields are marked * </p>-->
                <form action="{{ url_for('cadastrar_exercicios') }}" method="POST">
                  <div class="row">
                    <div class="col form-group">
                      <label for="carga">Carga</label>
                      <input name="carga" type="text" class="form-control" placeholder="Carga" required>
                    </div>
                    <div class="col form-group">
                      <label for="series">Series</label>
                      <input name="series" type="text" class="form-control" placeholder="Numero de series">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="repeticoes">Repeticoes</label>
                      <input name="repeticoes" type="text" class="form-control" placeholder="Quantidade de repeticoes">
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Cadastrar</button>

                </form>

              </div>
