<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Avaliações</title>

    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/gijgo.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/fonts/">
    <link rel="stylesheet" type="text/css" href="_flaticon.scss">
    </head>

<body>

    <div class="container my-5">
        <div id='content-to-print'>
            <h2 class="comments-count text-center mb-4">Minhas Avaliações</h2>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered shadow-sm">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col">Peso (kg)</th>
                            <th scope="col">Altura (m)</th>
                            <th scope="col">Braço (cm)</th>
                            <th scope="col">Ombro (cm)</th>
                            <th scope="col">Peito (cm)</th>
                            <th scope="col">Cintura (cm)</th>
                            <th scope="col">Quadril (cm)</th>
                            <th scope="col">Abdominal (cm)</th>
                            <th scope="col">Coxa Medial (cm)</th>
                            <th scope="col">Panturrilha (cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if avaliacao %}
                            {% for p in avaliacao %}
                                <tr>
                                    <td>{{ p[1] }}</td>
                                    <td>{{ p[2] }}</td>
                                    <td>{{ p[3] }}</td>
                                    <td>{{ p[4] }}</td>
                                    <td>{{ p[5] }}</td>
                                    <td>{{ p[6] }}</td>
                                    <td>{{ p[7] }}</td>
                                    <td>{{ p[8] }}</td>
                                    <td>{{ p[9] }}</td>
                                    <td>{{ p[10] }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="10" class="text-center text-muted py-4">Nenhum item foi encontrado</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="mainaval" class="btn btn-secondary">Voltar</a>
            <button id="generatePDF" class="btn btn-info">Imprimir em PDF</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="static/assets/js/generatepdf.js" defer></script>
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/assets/js/sb-admin-2.min.js"></script>

</body>

</html>
