<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/gijgo.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/fonts/">
    <link rel="stylesheet" type="text/css" href="_flaticon.scss">
    <link rel="stylesheet" type="text/css" href="static/assets/css/mainaval.css">


    <title>Avaliacao</title>




<style>
    body{
        width: 400px;
        height: 300px;
        background-image: url(static/assets/img/gallery/cat1.png)

    }


</style>

              <div class="reply-form">
                  </div>

           <div class="">
           </div>

                <div class="center">
                <a href="avaliacao">  <button  type="submit" class="btn btn-primary" href="avaliacao">Cadastrar Avaliação</button> </a>

                </div>

                <div class="center2">
                <a href="listaraval">  <button  type="submit" class="btn btn-primary">Minhas Avaliações</button> </a>
                </div>


                </form>

              </div>