<!doctype html>
<html class="no-js" lang="zxx">
<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Gym trainer | Template </title>
 <meta name="description" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

 <!-- CSS here -->
 <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
 <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
 <link rel="stylesheet" href="static/assets/css/slicknav.css">
 <link rel="stylesheet" href="static/assets/css/animate.min.css">
 <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
 <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
 <link rel="stylesheet" href="static/assets/css/themify-icons.css">
 <link rel="stylesheet" href="static/assets/css/slick.css">
 <link rel="stylesheet" href="static/assets/css/nice-select.css">
 <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body>

<!-- Preloader Start -->
<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper d-flex align-items-center justify-content-between">
          <!-- Logo -->
          <div class="logo">
            <a href="index.html"><img src="" alt=""></a>
          </div>
          <!-- Main-menu -->
          <div class="main-menu f-right d-none d-lg-block">
            <nav>
              <ul id="navigation">
               <li><a href="index">Início</a></li>
                  <li><a href="courses.html">Desempenho</a></li>
                  <li><a href="peito">Treinos</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Header-btn -->
          <div class="header-btns d-none d-lg-block f-right">
         </div>
         <!-- Mobile Menu -->
         <div class="col-12">
          <div class="mobile_menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->
</header>
<main>
  <!--? Hero Start -->
  <div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 pt-70">
              <h2>ROSCA BÍCEPS COM HALTERES</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->
  <!--? Blog Area Start -->
  <section class="blog_area single-post-area section-padding">
   <div class="container">
    <div class="row">
     <div class="col-lg-8 posts-list">
      <div class="single-post">
          <div class="container"> </div>
          <div class="video-wrap position-relative">
       <div class="video-icon">
         <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=suaavivt_7Q"><i class="fas fa-play"></i></a>
      </div>
      <div class="blog_details">
        <h2 style="color: #2d2d2d;">Entenda um pouco sobre o exercício de rosca bíceps com halteres
       <p class="excert">
         O exercício de rosca bíceps com halter é uma atividade de treinamento de força focada no desenvolvimento dos músculos do bíceps braquial, localizados na parte frontal do braço. É um exercício bastante comum e popular, amplamente utilizado em programas de musculação e treinamento de força.
       </p>
       <p>
       </p>
       <div class="quote-wrapper">
         <div class="quotes">
        </div>
      </div>
      <p>
       A rosca bíceps com halter é realizada segurando um halter em cada mão, com os braços estendidos ao longo do corpo e as palmas das mãos voltadas para a frente. A partir dessa posição inicial, o movimento consiste em flexionar os braços, aproximando os halteres em direção aos ombros, enquanto mantém os cotovelos próximos ao corpo. A contração dos músculos do bíceps é essencial para executar o movimento corretamente.
     </p>
     <p>
       Esse exercício oferece algumas vantagens em relação a outros movimentos de bíceps, pois permite uma maior amplitude de movimento e recruta uma quantidade significativa de fibras musculares. Além disso, o uso dos halteres exige um maior envolvimento dos músculos estabilizadores, contribuindo para o desenvolvimento de força e equilíbrio.
     </p>
   </div>
 </div>
 <div class="navigation-area">
  <div class="row">
   <div
   class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
   <div class="thumb">
     <a href="#">
    </a>
  </div>
  </a>
</div>
</div>
</div>
</div>
</div>
</section>
</main>
<footer>

              <!-- Header End -->
              <!-- social -->
              <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End-->
  </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
   <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
 </div>

 <!-- JS here -->

 <script src=".static//assets/js/vendor/modernizr-3.5.0.min.js"></script>
 <!-- Jquery, Popper, Bootstrap -->
 <script src=".static//assets/js/vendor/jquery-1.12.4.min.js"></script>
 <script src=".static//assets/js/popper.min.js"></script>
 <script src=".static//assets/js/bootstrap.min.js"></script>
 <!-- Jquery Mobile Menu -->
 <script src=".static//assets/js/jquery.slicknav.min.js"></script>

 <!-- Jquery Slick , Owl-Carousel Plugins -->
 <script src=".static//assets/js/owl.carousel.min.js"></script>
 <script src=".static//assets/js/slick.min.js"></script>

 <!-- One Page, Animated-HeadLin -->
 <script src=".static//assets/js/wow.min.js"></script>
 <script src=".static//assets/js/animated.headline.js"></script>
 <script src=".static//assets/js/jquery.magnific-popup.js"></script>

 <!-- Nice-select, sticky -->
 <script src=".static//assets/js/jquery.nice-select.min.js"></script>
 <script src=".static//assets/js/jquery.sticky.js"></script>

 <!-- contact js -->
 <script src=".static//assets/js/contact.js"></script>
 <script src=".static//assets/js/jquery.form.js"></script>
 <script src=".static//assets/js/jquery.validate.min.js"></script>
 <script src=".static//assets/js/mail-script.js"></script>
 <script src=".static//assets/js/jquery.ajaxchimp.min.js"></script>

 <!-- Jquery Plugins, main Jquery -->
 <script src=".static//assets/js/plugins.js"></script>
 <script src=".static//assets/js/main.js"></script>

</body>
</html>